@model Calculator.Business.ViewModels.PagamentoContaViewModel

@{
    ViewBag.Title = "Calculator - Home";
}

@section head {
    <script type="text/javascript">   

        function CalculaTroco() {

            var valorCompra = parseFloat (document.querySelector("[name='ValorCompra']").value);
            var valorPago = parseFloat (document.querySelector("[name='ValorPago']").value);

            var request = new XMLHttpRequest();
            var data = { ValorCompra: valorCompra, ValorPago: valorPago };
            
            request.open("POST", "/Calculator/CalcularTroco", true);
            request.setRequestHeader("Content-type", "application/json");
            console.log(JSON.stringify(data));
            console.log(data);

            request.send(JSON.stringify(data));            
            
            request.onreadystatechange = function () {
            
                if (request.readyState == 4 && request.status == 200) {
                    var data = JSON.parse(request.response);  

                    console.log(data);                    
                    
                    var cedulas = data.Cedulas.reduce(function (r, a, i) {
                        r[i] = r[i] || [];
                        r[i].push(a);
                        return r;
                    }, Object.create(null));

                    var moedas = data.Moedas.reduce(function (r, a, i) {
                        r[i] = r[i] || [];
                        r[i].push(a);
                        return r;
                    }, Object.create(null));

                    console.log("cedulas", cedulas);
                    console.log("moedas", moedas);

                    document.querySelector("#resposeTroco").innerHTM = "";

                    var element = `<p>Valor do troco : R$ ${data.Valor}</p>`;                    

                    element += "<p> Detalhes: ";      
                    
                    element += "</p>";

                    document.querySelector("#resposeTroco").innerHTML += element;
                }
            }
        }                

    </script>
}


    <div class=" jumbotron form-group ">
        <div class="row  p-3">
            <div class="col-sm-12 col-md-6 col-lg-4 ">
                <label>
                    @Html.ValidationMessageFor(model => model.ValorCompra)
                </label>
                @Html.LabelFor(model => model.ValorCompra)
                @Html.TextBoxFor(model => model.ValorCompra, new { min = "0", placeholder = "Insira o valor da compra.", @class = "form-control", type = "number" })
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 ">

                <label>
                    @Html.ValidationMessageFor(model => model.ValorPago)
                </label>
                @Html.LabelFor(model => model.ValorPago)
                @Html.TextBoxFor(model => model.ValorPago, new { min = "0", placeholder = "Insira o valor pago.", @class = "form-control", type = "number" })
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 pt-3">
                <button type="button" class="btn btn-primary" onclick="CalculaTroco()" >Calcular troco</button>
            </div>

            <div class="col-12 pt-3">
                <hr />

                <span id="resposeTroco">
                    
                </span>
            </div>

        </div>

    </div>

